$primary-color-orange: rgb(252, 164, 21);
$primary-color-black: rgb(28, 28, 28);
$primary-color-dark: rgb(17, 17, 17);
$primary-color-white: rgb(255, 255, 255);
$primary-color-gray: #a4a4a4;
$sky-color-1: #55d5ff;
$sky-color-2: #a1e7ff;
$sky-color-3: #019ccf;
$middle-gray: #d8d8d8;
$smooth-text-dark: rgba($color: #fff, $alpha: .5);
$smooth-text-white: rgba($color: #000, $alpha: .5);