.filter_modal {
	position: fixed;
	top: 90px;
	left: 28%;
	color: #fff;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border-radius: 20px;
	button {
		text-align: left;
		padding: 5px;
		background-color: #484848;
		border-radius: 12px;
	}
}

.dark {
	.filter_modal {
		background-color: #000;
	}
}
