@use '../constants/colors.scss' as color;

@keyframes out_in {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0%);
		opacity: 1;
	}
}

.modal_info {
	// background-color: color.$primary-color-dark;
	// color: color.$primary-color-white;
	position: absolute;
	background-color: color.$primary-color-white;
	overflow: hidden;
	border-radius: 12px;
	top: calc(100vh / 2 - 300px);
	right: 20px;
	width: 470px;
	height: 600px;
	transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: out_in 0.5s;
	overflow-y: auto;
}

.general_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
	gap: 5px;
}

.dark {
	.modal_info {
		background-color: color.$primary-color-dark;
	}
}

@media (max-width: 1300px) {
	.modal_info {
		margin-top: 100px;
		height: 85vh;
	}
}

@media (max-width: 1300px) {
	.modal_info {
		width: 40%;
	}
}

@media (max-width: 900px) {
	.modal_info {
		width: 45%;
	}
}

@media (max-width: 700px) {
	.modal_info {
		width: 95%;
	}
}
