@use '../constants/colors.scss' as color;
.light {
	--foreground: ;
}
.bg-follow {
	position: absolute;
	top: 0;
	right: 0px;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	padding: 0 20px;
	button {
		padding: 10px;
		background-color: color.$primary-color-white;
		border-radius: 12px;
		margin-left: 10px;
	}
}

.dark {
	--foreground: rgb(252, 164, 21);
	.bg-follow {
		.follow {
			background-color: color.$primary-color-black;
		}
	}
}
