@use '../constants/colors.scss' as color;

.button_block {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 94%;
	border-radius: 12px;
	overflow: hidden;
	margin: 10px;
	gap: 5px;
	button {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px;
		background-color: color.$middle-gray;
		cursor: pointer;
		img {
			width: 30px;
		}
	}
}

.dark {
	.button_block {
		button {
			background-color: color.$primary-color-black;
			color: color.$primary-color-white;
		}
	}
}
