.filters {
	border-radius: 100px;
	padding: 10px;
	display: flex;
	color: #000;
	justify-content: center;
	background-color: #fff;
	width: 50px;
	height: 50px;
}

.dark {
	.filters {
		color: #fff;
		background-color: #000;
	}
}

@media (max-width: 1500px) {
	.filters {
		left: calc(100vw / 2 - 25px);
		top: 80px;
	}
}

@media (max-width: 1300px) {
	.filters {
		left: 10px;
		top: 10px;
	}
}
