@use '../constants/colors.scss' as color;

.plane_info_block {
	background: linear-gradient(
		45deg,
		color.$sky-color-1,
		color.$sky-color-2,
		color.$sky-color-3
	);
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
	gap: 10px;
	color: color.$primary-color-dark;
}

.plane_info {
	top: 10px;
	width: 90%;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 20px;
	background-color: color.$primary-color-white;
	.plane_number {
		color: color.$primary-color-orange;
	}

	button {
		width: 40px;
		height: 40px;
		padding: 5px;
		border-radius: 100px;
		background-color: #d8d8d8;
	}
}

.dark {
	.plane_info_block {
		color: color.$primary-color-white;
	}

	.plane_info {
		background-color: color.$primary-color-black;
		button {
			background-color: color.$primary-color-dark;
		}
	}
}
