@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

* {
	box-sizing: border-box;
}

:root {
	font-family: 'JetBrains Mono', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgb(0, 0, 0);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000;
	background-size: auto;

	--foreground: #303030;
	--background: #f1f1f1;
	--secondary: #bbbbbb;
	--primary: #d4d4d4;
}

.dark {
	--foreground: #fff2db;
	--background: #282828;
	--secondary: #1b1b1b;
	--primary: #0c0c0c;
}

@theme inline {
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--color-secondary: var(--secondary);
	--color-primary: var(--primary);
}

body {
	margin: 0;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
}

@keyframes loading-animate-left {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes loading-animate-right {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes loading-animate-bottom {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes loading-animate-top {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	.m_overflow-y-scroll {
		overflow-y: scroll;
	}

	.m_overflow-x-visible {
		overflow-x: visible;
	}

	.animate-loading-left {
		animation: loading-animate-left 0.5s ease-in-out;
	}

	.animate-loading-right {
		animation: loading-animate-right 0.5s ease-in-out;
	}

	.animate-loading-bottom {
		animation: loading-animate-bottom 0.5s ease-in-out;
	}

	.animate-loading-top {
		animation: loading-animate-top 0.5s ease-in-out;
	}
}

#map {
	height: 200px;
}
